div.corpo {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg, #19164b 0%, #4e4e88 35%, #a76586 100%);
    
}

body.site {
    background-image: linear-gradient(90deg, #bdbbd8 0%, #a5a5c2 35%);
    font-family: Times New Roman;
    
}

div.container-fluid {
    background-color: rgb(59, 59, 88);
    font-family: Times New Roman;
    color: white;
    
}

div.header {
    width: 100vw;
    height: 200px;
    background-image: linear-gradient(90deg, #19164b 0%, #4e4e88 35%, #a76586 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Impact;
    font-size: 46px;
    color: #bdbbd8;
    
}

.background {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: row;
}


.menu {
    width: 200px;
    height: 100%;
    background-color: rgb(59, 59, 88);
}

div.item-menu {
    width: 200px;
    height: 53px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(59, 59, 88);
    padding: 10px;
    color: #d1d0e4;
    font-family: Times New Roman;
    font-size: 16px;
}

div.item-menu:hover {
    background-color: #232149;
    text-decoration: none;
}

div.menu a{
    text-decoration: none;
}

.vitrine {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 900px;
    padding-left: 50px;
    justify-content: space-evenly;
}

.card {
    padding: 20px;
    margin: 30px;
}